html {
    height: 100%
}

body {
    margin: 0;
    text-align: center;
    font-family: "JetBrains Mono", sans-serif;
    color: black;
}

div#tree {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    font-size: 13pt;
    line-height: 1.5;
}

a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

/* Cool hover effect from https://css-tricks.com/css-link-hover-effects/ */
a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: red;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .25s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

li {
    list-style-type: none;
}

li.file {
    list-style-type: "📄";
}

li.file-gas {
    list-style-type: "📈";
}

details>summary {
    list-style-type: "📁";
}

details[open]>summary {
    list-style-type: "📂";
}

details,
li {
    padding: 0.15rem;
    padding-left: 0.25rem;
}

details[open]>summary {
    margin-bottom: 0.25rem;
}
